* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

html,
body {
  margin: 0;
  background-color: antiquewhite;
}

div {
  border: 1px black solid;
}
nav {
  background: #b736ff;
  display: flex;
  padding: 24px 36px;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  margin-bottom: 0 !important;
  color: white;
  list-style: none;
  padding: 10px;
}

nav a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

nav ul li:hover {
  font-weight: bold;
  background-color: #891fc2;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  margin: 0;
}

h2 {
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  margin: 0;
}

.reddit-content {
  display: flex;
  height: 100vh; 
  width: 100vw;
}

.subreddit-list-box {
  width: 20%;
}

.subreddit-list-box ul li {
  list-style: none;
}
.subreddit-title {
  font: bold;
  color: black;
}

.outlet {
  width: 80%;
  text-align: left;
  padding: 15px;
}